.mxcw-content {
    padding: 0 1rem 0 1rem;
    overflow: auto;
    height: 100%;
}

.imerss-blitz-widgets {
    display: none;
}

.imerss-filter-panel {
    height: auto;
}

.imerss-blitz-left {
    width: 50%;
}

.imerss-blitz-right {
    width: 50%;
}

#header {
    display: none;
}

.mxcw-sectionColumn {
    width: 100%;
}

.mxcw-content-holder {
    height: 100%;
    min-height: 0;
    padding: 0;
}

.main-container h2 {
    margin-bottom: 0;
    margin-top: 0.5rem;
}
